<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header class="header">
        <a href="/"><h2>PlaceMent Cell</h2></a>
        <div class="div">
            <a href="/student/add" class="btn">Add Student</a>
            <a href="/interview/add" class="btn">Add Interview</a>
            <a href="/csv" class="btn">Download</a>
            <a class="btn" href="/auth/logout">LogOut</a>
        </div>
    </header>
    <div class="main home">
        <div class="students">
            <%for(student of students) { %>
                <a class="student__detail" href="/student/<%=student._id%>">
                    <span><%=student.name%></span>
                    <span><%if(student.status) {%> Placed <%} else {%> Unplaced <%}%></span>
                </a>
            <%}%>
        </div>
        <div class="interviews">
            <%for(interview of interviews) { %>
                <a class="student__detail" href="/interview/<%=interview._id%>">
                    <span><%=interview.companyName%></span>
                    <span><%=interview.date%></span>
                    <!-- <span><%if(student.status) {%> Placed <%} else {%> Unplaced <%}%></span> -->
                </a>
            <%}%>
        </div>
    </div>
</body>
</html>