<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/form.css">

    <style>
        body{
            position: relative;
        }
        .add-student{
            background-color: white;
            width: 500px;
            height: 200px;
            border: 2px solid black;
            position: absolute;
            top: 50vh;
            left: 50vw;
            transform: translate(-50%,-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            display: none;
        }
        .add-student form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }
        .add-student form input{
            height: 3rem;
            font-size: 1.8rem;
            padding: 0.5rem 1rem;

        }
    </style>
</head>
<body>
    <header class="header">
        <a href="/"><h2>PlaceMent Cell</h2></a>
        <div class="div">
            <a href="" class="btn">Download</a>
            <a class="btn" href="/auth/logout">LogOut</a>
        </div>
    </header>
    <div class="main form-cont">
        <form action="/interview/<%=interview._id%>" method="post">
            <input type="text" class="in" name="companyName" id="" value="<%=interview.companyName%>" disabled placeholder="Name">
            <input type="text" class="in" name="date" id="date" value="<%=interview.date%>" disabled placeholder="Email">
      

            <div class="post-edit" style="display:none;">
                <button type="submit" class="form-btn">Edit</button>
            </div>

            <div class="interviews">
                <h3>Students</h3>
                <div class="" style="grid-template-columns:1fr 1fr">
                    <span style="font-weight: 700;">Student Name</span>
                    <span style="font-weight: 700;">Status</span>
                </div>
                <%for(student of interview.students) {%>
                    <div class="" style="grid-template-columns:1fr 1fr">
                        <span><%=student.name%></span>
                        <span><%=student.result%></span>
                    </div>
                <%}%>
            </div>

            <div class="enable-edit-div">
                <button type="button" class="form-btn enable-edit">Edit Details</button>
                <a href="/interview/delete/<%=interview._id%>" class="form-btn danger">Delete Company</a>
                <button type="button" class="form-btn success add-studetn-btn">Add Student</button>
            </div>
            
        </form>
    </div>

    <div class="add-student">
        <form action="/interview/add-student/<%=interview._id%>" method="post">
            <input type="text" name="studentEmail" id="" placeholder="Student Email">
            <button type="submit" class="form-btn">Add Student</button>
        </form>
    </div>

    <script>
        document.querySelector(".enable-edit").addEventListener("click",(e)=>{
            e.target.parentNode.style.display = "none";
            document.querySelector(".post-edit").style.display = "block";
            document.querySelector(".interviews").style.display = "none";
            document.querySelectorAll("input").forEach(input=>{
                input.removeAttribute("disabled");
                // console.log(input);
            })
            document.querySelector("#date").setAttribute("type","date");
        })

        document.querySelector(".add-studetn-btn").addEventListener("click",(e)=>{
            document.querySelector(".add-student").style.display = "flex";
        })
    </script>
</body>
</html>